/build
__pycache__/
dataset_db.pyon
device_db.py
pulsegen.vcd
stft_pulsegen/__pycache__/
vivado.jou
vivado.log
vivado_25084.backup.jou
vivado_25084.backup.log
vivado_25335.backup.jou
vivado_25335.backup.log
vivado_25573.backup.jou
vivado_25573.backup.log
vivado_25805.backup.jou	
vivado_25805.backup.log
vivado_5624.backup.jou
vivado_5624.backup.log
webtalk.jou
webtalk.log
webtalk_25255.backup.jou
webtalk_25255.backup.log
webtalk_25510.backup.jou
webtalk_25510.backup.log
webtalk_25749.backup.jou
webtalk_25749.backup.log
webtalk_25978.backup.jou
webtalk_25978.backup.log
webtalk_5795.backup.jou	
webtalk_5795.backup.log
vivado_25805.backup.jou
webtalk_5795.backup.jou
phaser.vcd

